.btn{
	&.btn-ghost{
		color: #242424;
		background: transparent;
		border: 2px solid #242424;
		padding: 5px 30px;
		border-radius: 2px;
		font-size: 19px;
		letter-spacing: 1px;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		&:hover{
			background: #242424;
			color: #FFF;
		}
		&.btn-white{
			border-color: #FFF;
			color: #FFF;
			&:focus{
				color: #FFF;
			}
			&:hover{
				background: #FFF;
				color: #242424;
			}
		}
	}
	&.btn-pink{
		background-color: #d40dcc;
		border-color: #d40dcc;
		&:hover,
		&:focus,
		&:active,
		&.active {
		  background-color: #bc0cb5;
		  border-color: #a40a9e;
		}
		&.disabled:hover,
		&.disabled:focus,
		&.disabled:active,
		&.disabled.active,
		&[disabled]:hover,
		&[disabled]:focus,
		&[disabled]:active,
		&[disabled].active,{
			background-color: #d40dcc;
			border-color: #d40dcc;
		}
	}
	&:focus{
		outline: none;
	}
	i.fa{
		padding-left: 10px;
	}
	&.btn-green{
		margin-top: 20px;
		color: #FFF;
		.setBgColorAndHover(rgb(61, 215, 170));
		&.disabled{
			.setBgColorAndHover(#3d3d3d);
		}
	}
}