body.confirm{
	.cart-change{
		font-size: 11px;
	}
	#submit-row{
		margin-top: 20px;
	}
	.sidebar{
		margin-bottom: 20px;
		h2{
			font-size: 18px;
			margin-bottom: 10px;
		}
		form{
			border: 1px solid #CCC;
			background: #F6F6F6;
			padding: 10px;
		}
		.shipping{
			font-size: 12px;
			font-style: italic;
			color: #3d3d3d;
		}
	}
	@media screen and (min-width: 576px) {
		#cart,.sidebar{
			float: right;
		}
	}
}