#designer-tool{
	max-width: 758px;
	margin: 0 auto 30px;
	text-align: center;
	position: relative;
	#garment-tip{
		margin: 20px auto 30px;
		font-size: 16px;
		max-width: 500px;
		.brand{
			font-weight: bold;
		}
	}
	.clearfix();
	#product-selector{
		margin: 40px 0;
		padding: 0;
		.clearfix();
		li{
			list-style: none;
			cursor: pointer;
			width: 30.33%;
			margin: 0 1.5%;
			text-align: center;
			text-decoration: none;
			opacity: .7;
			float: left;
			&.active,&:hover{
				opacity: 1;
			}
			img{
				max-width: 50px;
				display: inline-block;
				vertical-align: middle;
			}
			.category-name{
				color: #3d3d3d;
				text-decoration: none;
				text-transform: uppercase;
				display: inline-block;
				vertical-align: middle;
				font-family: 'Oswald';
				padding-left: 5px;
				font-size: 20px;
			}
		}
	}
	#product-type{
		text-transform: uppercase;
		font-size: 16px;
		font-family: OSWALD;
		margin: 0 0 20px 0;
		text-align: right;
		background: #e4e4e4;
		padding: 0 0 0 6px;
		float: right;
		a{
			color: #464646;
			text-decoration: none;
		}
		.fa{
			color: #FFF;
			padding: 5px;
			margin-left: 3px;
			background: #3d3d3d;
		}
	}

	.garment-name{
		color: #69696b;
		text-align: left;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-weight: 300;
		font-size: 16px;
		letter-spacing: 1px;
		margin-bottom: 0;
		a{
			font-size: 12px;
			padding-left: 7px;
			vertical-align: middle;
		}
	}
	.garment-brand{
		text-transform: uppercase;
		color: #CCC;
		margin-top: 0;
		line-height: 6px;
		font-size: 11px;
		letter-spacing: 1px;
	}
	.garment-description{
		font-size: 12px;
		color: rgb(100, 100, 100);
		margin-bottom: 0;
	}
	.garment-materials{
		font-size: 11px;
		color: #9F9F9F;
		overflow: hidden;
		max-width: 280px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.product-price{
		font-size: 23px;
		font-family: Raleway,sans-serif;
		padding: 10px 0;
		font-weight: 100;
		.no-price{
			font-size: 12px;
		}
	}
	.color-list{
		padding: 0;
		max-width: 740px;
		button{
			width: 30px;
			height: 30px;
			list-style: none;
			float: left;
			margin-right: 2px;
			margin-bottom: 2px;
			background: none;
			border: 0;
			outline: 0;
		}
	
	}
	
	#product-preview{
		float: left;
		width: 43%;
		img{
			max-width: 100%;
			animation-duration: .1s;
			animation-delay: 0s;
		}
	}
	#product-details{
		float: right;
		text-align: left;
		width: 55%;
		#change-links{
			float: right;
			margin: 0;
			a{
				font-size: 12px;
			}
		}
		h4{
			font-family: 'Raleway', sans-serif;
			text-transform: uppercase;
			font-size: 16px;
			&:first-child{
				margin-top: 0;
			}
		}
		.print-sides{
			.side{
				border-radius: 0;
				background: #F3F3F3;
				border: 1px solid #CCC;
				color: #3d3d3d;
				text-shadow: none;
				text-align: left;
				padding-left: 30px;
				font-size: 12px;
				padding-top: 10px;
				&:before{
					content: "";
					position: absolute;
					left: 10px;
					width: 7px;
					height: 7px;
					top: 50%;
					margin-top: -3px;
					background: #CDC5C5;
					border-radius: 10px;
				}
				&:hover{
					background: #EAEAEA;
				}
				&:first-child{border-radius: 2px 2px 0 0};
				&:last-child{border-radius: 0 0 2px 2px};
				&.active{
					box-shadow: none;
					background: #787676;
					color: #FFF;
					border: 1px solid #5F5E5E;
					&:before{
						box-shadow: 0px 0px 2px 2px #5CE5B1;
						background: #CBF8E7;
					}
				}
			}
		}
	}
	#garment-list{
		padding: 0;
		li{
			list-style: none;
			text-align: left;
			height: 160px;
			border: 1px solid #E3E3E3;
			margin-bottom: 10px;
			transition: all .2s;
			cursor: pointer;
			&:hover{
				outline: 3px solid #27c6f4;
			}
			.image-container{
				width: 20%;
				float: left;
				img{
					max-height: 100%;
					max-width: 100%;
					width: auto;
				}
			}
			.garment-info{
				width: 80%;
				position: relative;
				float: left;
				padding: 5px;
				.garment-name{
					margin-bottom: 2px;
				}
				.garment-brand{
					margin-bottom: 15px;
				}
				.garment-description{
					padding-right: 100px;
				}
				.product-price{
					color: #000;
					position: absolute;
					top: 3px;
					right: 10px;
					padding: 0;
					line-height: 26px;
					span{
						font-size: 9px;
						color: #666;
						position: relative;
						top: -2px;
					}
				}
				.color-list{
					max-height: 40px;
					overflow: hidden;
					button{
						width: 13px;
						height: 17px;
					}
				}
			}
		}
	}
	.btn-green{
		padding: 10px 20px;
		margin-top: 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	@media only screen and (max-width: 800px){
		#product-selector{
			.category-name{display: block}
		}
	}
	@media only screen and (max-width: 480px){
		#product-selector li{
			width: 33.33%;
			margin: 0;
			padding: 0;
			text-align: center;
		}
		#product-preview,#product-details{
			width: 100%
		}
		#product-details #product-type{
			float: none;
			margin-top: 10px;
		}
		#garment-list{
			li{
				overflow: hidden;
				.garment-info{
					.color-list{display: none}
					.product-price{display: none}
				}
			}
		}
	}
}