.btn{
	border-radius: 0px;
	&.btn-md{
		padding: 10px 15px;
		display: block;
	}
}

.setBgColorAndHover(@baseColor){
	transition: background-color .7s;
	background-color: @baseColor;
	&:hover{
		background-color: darken(spin(@baseColor, -5), 10%);
	}
}

//custom utitlies
@media screen and (max-width: 400px) {
	.phone-hidden{
		display: none;
	}
}