body.landing #wrap .container {
  text-align: center;
  padding-top: 20px;
}
body.landing #wrap .container h2,
body.landing #wrap .container h3 {
  font-family: 'Noto Sans', sans-serif;
}
body.landing #wrap .container h2 {
  max-width: 480px;
  margin: 60px auto 0;
  font-weight: bold;
}
body.landing #wrap .container h4 {
  text-transform: uppercase;
  color: #7E7E7E;
}
body.landing #wrap .container #beta-signup {
  margin-top: 40px;
}
body.landing #wrap .container #beta-signup input {
  max-width: 500px;
  display: inline-block;
  margin-right: 7px;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #EEE;
  padding: 22px;
}
body.landing #wrap .container #beta-signup button {
  padding: 12px;
  border-radius: 0;
}
