body.landing{
	#wrap{
		.container{
			text-align: center;
			padding-top: 20px;
			max-width: 100%;
			h2,h3{
				font-family: 'Noto Sans', sans-serif;
			}
			h2{
				max-width: 480px;
				margin: 35px auto 0;
				font-weight: bold;
			}
			h4{
				text-transform: uppercase;
				color: #7E7E7E;
				margin-bottom: 45px;
			}
			.carousel{
				.carousel-indicators {
					width: 90%;
					margin: 0 5%;
					position: static;
					li{
						width: 30%;
						height: 80px;
						opacity: .3;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center center;
						&#shirt-icon{
							background-image: url('/assets/img/landing/shirt-icon.png');
						}
						&#cart-icon{
							background-image: url('/assets/img/landing/cart-icon.png');
						}
						&#truck-icon{
							background-image: url('/assets/img/landing/truck-icon.png');
						}
						&.active{
							width: 30%;
							margin: 1px;
							opacity: .8;
						}
					}
				}
				.carousel-control{
					background: none;
					span{
						color: #000000;
					}
				}
				.carousel-inner{
					margin-top: 30px;
					.item{
						p{
							font-family: 'Noto Sans', sans-serif;
							max-width: 800px;
							width: 75%;
							margin: 0 auto;
							font-size: 24px;
						}
					}
				}
				
			}
			#beta-signup{
				margin-top: 60px;
				input{
					max-width: 500px;
					display: inline-block;
					margin-right: 7px;
					border-radius: 0;
					box-shadow: none;
					padding: 22px;
					background: #414141;
					color: #F3F3F3;
					border: 1px solid #4C4E50;
				}
				button{
					padding: 12px;
					border-radius: 0;
				}
			}
			@media only screen and (max-width: 600px) {
				padding-right: 25px;
				padding-left: 25px;
				h2{
					font-size: 19px;
					max-width: 300px;
				}
				h4{
					font-size: 15px;
				}
				#beta-signup{
					.clearfix();
					input{
						width: 100%;
						float: left;
						padding-right: 90px;
					}
					button{
						float: left;
						width: 80px;
						margin-left: -87px;
					}
				}
			}
			@media only screen and (max-width: 480px) {
				.carousel{
					.carousel-indicators {
						li{
							height: 60px;
						}
					}
					.carousel-inner{
						.item{
							p{
								font-size: 14px;
							}
						}
					}
					
				}
			}
		}
	}
}