body.landing{
	#wrap{
		.container{
			h1 img{
				max-width: 150px;
			}
			text-align: center;
			max-width: 100%;
			width: auto;
			padding: 0;
			font-family: 'Lato', sans-serif;
			.row{
				padding: 0 10px;
				max-width: 100%;
				margin: 0;
				.clearfix();
				h2{
					margin: 40px auto 60px;
				}
				&:last-child{
					padding-bottom: 40px;
				}
			}
			#main-landing{
				color: #FFF;
				background-image: url('/assets/img/landing/bg-1000x797.jpg');
				background-size: cover;
				background-position: center center;
				padding-bottom: 40px;
				#left-col{
					float: left;
					width: 30%;
					h1{
						margin: 68px 0 30px;
					}
				}
				#right-col{
					float: right;
					width: 70%;
					max-width: 480px;
					h3{
						margin: 25px 0 10px;
						font-size: 25px;
						text-align: left;
					}
					h4{
						margin-bottom: 40px;
						font-size: 16px;
						opacity: .8;
					}
					form{
						float: left;
						input{
							width: 240px;
							border-radius: 0;
						}
						.btn-ghost{
							display: inline-block;
							padding: 2px 17px;
							margin-left: 5px;
						}
					}
				}
				.accent{
					font-family: "Pacifico", sans-serif;
					font-size: 120%;
				}
				.view-demo,.btn-ghost{
					display: block;
					margin: 10px auto;
					text-decoration: none;
				}
				.view-demo{
					color: #FFF;
					margin-bottom: 60px;
					font-family: 'Oswald', sans-serif;
					text-transform: uppercase;
				}
				
			}
			#how-it-works{
				padding-bottom: 60px;
				ul{
					max-width: 1000px;
					margin: 0 auto;
					padding: 0;
					.clearfix();
					li{
						list-style: none;
						float: left;
						width: 23%;
						margin: 0 1%;
						img{
							max-width: 150px;
							width: 100%;
						}
						p{
							max-width: 170px;
							margin: 0 auto;
							font-size: 17px;
						}
					}
				}
				.btn-ghost{
					margin-top: 90px;
				}
			}
			#signup{
				@media only screen and (min-width: 900px) {
					margin: 0 80px;
				}
				form{
					max-width: 570px;
					margin: 0 auto;
					padding-bottom: 20px;
					text-align: left;
					label{
						font-weight: bold;
					}
					input{
						border-radius: 0;
					}
					.btn-block{
						background: rgb(78, 15, 78);
						border: 0;
						padding: 10px;
					}
				}
			}
			#pricing{
				background: #F3F3F3;
				margin-top: 40px;
				padding-bottom: 180px;
				section.price{
					font-size: 20px;
					padding-top: 10px;
					.price-sign{
						vertical-align: text-top;
						font-size: 100%;
						position: relative;
						top: 11px;
						left: 4px;
					}
					.price-number{
						font-family: 'Oswald', sans-serif;
						font-size: 350%;
						vertical-align: top;
					}
					.price-frequency{
						vertical-align: bottom;
						position: relative;
						top: -35px;
						font-size: 75%;
						display: inline-block;
						padding-left: 2px;
						span{
							padding-right: 4px;
						}
					}
				}
				section.price-description{
					font-size: 20px;
					max-width: 540px;
					margin: 10px auto 0;
				}
			}
			#thank-you{
				h3{
					margin-bottom: 20px;
				}
			}
			#beta-signup{
				.modal-content{
					border-radius: 0;
					.close{
						top: -7px;
						position: relative;
					}
					form{
						padding-top: 5px;
					}
					.input-group{
						margin-bottom: 10px;
						max-width: 500px;
						width: 100%;
						margin: 10px auto 0;
					}
					input{
						max-width: 500px;
						height: 50px;
						display: inline-block;
						margin-right: 7px;
						border-radius: 0;
						box-shadow: none;
						padding: 5px 10px;
						background: #414141;
						color: #F3F3F3;
						border: 1px solid #4C4E50;
					}
					button{
						padding: 12px;
						border-radius: 0;
					}
				}
				margin-top: 60px;	
			}
			#mail-link{
				color: #5A5A5A;
				position: fixed;
				bottom: 0px;
				right: 0;
				font-size: 14px;
				text-transform: uppercase;
				padding: 2px 6px 5px;
				text-decoration: none;
				background: #FFF;
				width: 100%;
				text-align: right;
				&:hover{
					color: #CCC;
				}
				span{
					padding-left: 3px;
					position: relative;
					top: 4px;
					font-size: 20px;
				}
			}
			.alert-block{
				margin-bottom: 0;
			}
			@media only screen and (min-width: 1600px) {
				#main-landing{
					background-image: url('/assets/img/landing/bg-2560x1600.jpg');
				}
			}
			@media only screen and (min-width: 1000px) {
				#main-landing{
					background-image: url('/assets/img/landing/bg-1600x1276.jpg');
				}
			}
			@media only screen and (max-width: 640px){
				#main-landing{
					#left-col,#right-col{
						width: 100%;
					}
					#right-col{
						max-width: 400px;
						margin: 0 auto;
						float: none;
						h3{
							text-align: center;
						}
						form{
							float: none;
							text-align: center;
							.form-group{
								display: inline-block;
								margin-bottom: 0;
								margin-top: 20px;
							}
						}
					}
				}
			}
			@media only screen and (max-width: 600px) {
				#how-it-works ul li{
					width: 48%;
					margin: 10px 1%;
				}
				#beta-signup{
					.clearfix();
					input{
						width: 100%;
						float: left;
						padding-right: 90px;
					}
				}
			}
			@media only screen and (max-width: 480px) {
				#main-landing{
					background-image: url('/assets/img/landing/bg-480x795.jpg');
					h3{
						font-size: 30px;
					}
				}
			}
			@media only screen and (max-width: 320px) {
				#how-it-works{
					h2{
						margin-bottom: 20px;
					}
					ul li{
						width: 100%;
						margin: 10px auto;
						p{
							position: relative;
							top: -10px;
						}
					}
					.btn-ghost{
						margin-bottom: 50px;
					}
				}
			}
		}
	}
}