/*!
 * Master CSS template for Laravel-4-Bootstrap-Starter-Site
 *
 */

/*!
 * Bootstrap v3.0.0
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */

@import "bootstrap/normalize.less";
@import "bootstrap/alerts.less";
@import "bootstrap/code.less";
@import "bootstrap/labels.less";
@import "bootstrap/pager.less";
@import "bootstrap/tables.less";
@import "bootstrap/badges.less";
@import "bootstrap/component-animations.less";
@import "bootstrap/list-group.less";
@import "bootstrap/pagination.less";
@import "bootstrap/theme.less";
@import "bootstrap/bootstrap.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/media.less";
@import "bootstrap/panels.less";
@import "bootstrap/thumbnails.less";
@import "bootstrap/breadcrumbs.less";
@import "bootstrap/forms.less";
@import "bootstrap/mixins.less";
@import "bootstrap/popovers.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/button-groups.less";
//@import "bootstrap/glyphicons.less";
@import "bootstrap/modals.less";
@import "bootstrap/print.less";
@import "bootstrap/type.less";
@import "bootstrap/buttons.less";
@import "bootstrap/grid.less";
@import "bootstrap/navbar.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/utilities.less";
@import "bootstrap/carousel.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/navs.less";
@import "bootstrap/responsive-utilities.less";
@import "bootstrap/variables.less";
@import "bootstrap/close.less";
@import "bootstrap/jumbotron.less";
@import "bootstrap/scaffolding.less";
@import "bootstrap/wells.less";

// -------------------------------------------------------------
// -------------------------------------------------------------
// -------------------------------------------------------------
// -------------------------------------------------------------

/*!
 * Custom CSS
 *
 */
 
 .clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		// Fixes Opera/contenteditable bug:
		// http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
		line-height: 0;
	}
	&:after {
		clear: both;
	}
} 

.ieinline{
	display: inline-block;
	*display: inline;
	zoom: 1;
}

//not sure
@import 'merch.less';
//seller css
@import 'seller.less';
@import 'checkout.less';
@import 'landing.less';
@import 'extra.less';
@import 'forms.less';
@import 'btn.less';
@import 'designer-tool.less';

html,body{
	height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -90px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 90px;
}
#footer {
	text-align: center;
	font-size: 12px;
	color: #3d3d3d;
	padding: 20px 0;
	.container{
		.clearfix();
		a{
			color: #8B8B8B;
			text-decoration: underline;
		}
	}
}


#wrap > .container {
	padding-top: 60px;
}
.container .credit {
	margin: 20px 0;
}

/*!
 * Semantics based on Bootstrap
 *
 */

 .btn-cancel {
	.btn;
	.btn-warning;
}

.table {
	border-collapse: collapse;
}

.pagination {
	margin: 0;
}



.terms-of-service{
	p{
		margin-bottom: 30px;
	}
}