#product-container{
	margin: 0;
	padding: 20px 0 0 0;
	font-size: 0;
	li{
		margin-bottom: 30px;
		list-style: none;
		text-align: center;
		float: none;
		vertical-align: top;
		.ieinline();
		img{
			width: auto;
			height: auto;
			max-height: 320px;
			max-width: 100%;
		}
		a{
			display: block;
			&:hover{text-decoration: none;}
			h2{
				font-family: 'Oswald', sans-serif;
				font-size: 19px;
				text-transform: uppercase;
				color: #3d3d3d;
				text-decoration: none;
			}
		}
		.price{
			color: #989898;
			font-size: 12px;
		}
		.btn{
			background: #2a6496;
			color: #FFF;
			padding: 4px;
			&:hover{
				opacity: .9;
			}
		}
	}
	margin-bottom: 30px;
	.clearfix();


	@media only screen and (max-width: 600px) {
		li{
			width: 50%;
			img{
				max-height: 300px;
				width: auto;
				max-width: 100%;
			}
		}
	}

	@media only screen and (max-width: 480px) {
		li{
			width: 100%;
			img{
				max-height: 300px;
				width: auto;
				max-width: 100%;
			}
		}
	}
}