/* Navbar */
.navbar{
	font-family: 'Lato', sans-serif;
	.brand{
		font-weight: bold;
		a{
			color: #FFF;
		}
	}
}
.navbar-inverse .navbar-nav > li.brand > a{color: #FFF}

/* Create */
#create-product{
	.product-option{
		position: relative;
		min-width: 33.33%;
		text-align: left;
		&.girl{
			background: 'pink';
		}
	}
	.product-image{
		max-height: 40px;
		padding-right: 10px;
	}
	.comment{
		position: absolute;
		bottom: 0;
		right: 10px;
		font-size: 12px;
	}
	.price{
		position: absolute;
		top: 1px;
		right: 5px;
		font-size: 12px;
		color: yellow;
	}
	.color-list{
		padding: 0;
		display: none;
		max-width: 740px;
		label{
			width: 30px;
			height: 30px;
			list-style: none;
			float: left;
			margin-right: 3px;
			margin-bottom: 3px;
		}
	}
	.sample-product{
		float: left;
		img{
			max-height: 500px;
			max-width: 100%;
		}
	}
	.artwork-upload-file{
		margin-bottom: 10px;
	}
	#upload-more{display: none}
}

/* Product list */
body.products{
	.page-header{
		.clearfix();
		h3{
			float: left;
			margin-top: 8px;
		}
		.header-buttons{
			float: right;
		}
	}
	fieldset{
		border: 1px solid #EFEFEF;
		margin-bottom: 30px;
		padding: 30px 20px;
		legend{
			border: 0;
			position: relative;
			width: auto;
			padding: 0 10px;
			margin: 0;
			margin-left: 1.8125rem;
			line-height: 21px;
			text-transform: uppercase;
			font-size: 12px;
		}
	}
	.stats-title{
		color: #6C6C6C;
		font-size: 12px;
		line-height: 6px;
	}
	.stats{
		font-size: 41px;
		padding: 10px;
		color: #454545;
		.clearfix();
		> div{
			float: left;
			text-align: center;
			padding-right: 30px;
			> .title{
				display: block;
				color: #4A4A4A;
				padding: 2px 14px;
				border-radius: 2px;
				font-size: 22px;
				letter-spacing: .05em;
				font-weight: 100;
			}
		}
	}
	ul.products{
		margin: 0;
		li{
			list-style: none;
			min-height: 120px;
			padding-left: 120px;
			position: relative;
			margin-bottom: 10px;
			border-bottom: 1px solid #F0F0F0;
			padding-bottom: 10px;
			img{
				max-height: 120px;
				position: absolute;
				left: 0;
			}
			h3 .view-link{
				color: #999;
				font-weight: 100;
				font-size: 15px;
				letter-spacing: 2px;
				text-transform: uppercase;
				border-bottom: 1px solid;
				margin-left: 5px;
				text-decoration: none;
			}
			&.not-active{
				opacity: .7;
			}
		}
	}
}

/* profile */
@import 'seller-profile.less';

/* Get Paid */
.get-paid{
	h3{
		border-bottom: 1px solid #ECECEC;
		padding-bottom: 5px;
	}
	#balance{
		font-size: 40px;
		font-weight: bold;
		color: green;
		margin-bottom: 10px;
	}
	.bank-info{
		text-align: right;
		p{
			margin-bottom:0px
		}
	}
}