#seller-profile{
	#wrap{
		> .container{
			padding-top: 20px;
		}
		.container{
			.clearfix();
			.page-header{
				margin-top: 0;
				h3{
					margin-top: 0;
				}
			}
			.profile-area{margin: 0;}
		}
	}
	.nav > li > a{
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		color: #3f3f3f;
		margin-top: 35px;
		&:hover,&:focus{
			background-color: transparent;
		}
		&.profile-photo{
			img{
				border-radius: 50px;
				max-height: 100px;
				max-width: 100px;
				margin-right: 20px;
			}
			margin-top: 0;
			font-family: 'Oswald', sans-serif;
			font-size: 25px;
			text-transform: uppercase;
			color: #3d3d3d;
			.brand{
				text-transform: none;
				font-family: 'Raleway', sans-serif;
				color: #CCC;
				font-weight: 100;
			}
		}
	}
	.navbar-nav{
		text-align: center;
	}
	.right-menu{
		margin: 0;
		li{
			display: inline-block;
			&.cart span{
				color: #CCC;
			}
		}
	}
	#single-product-container{
		#image-container{
			float: left;
			max-width: 320px;
			width: 40%;
			text-align: center;
			img{
				max-width: 100%;
			}
		}
		#product-info{
			float: right;
			width: 60%;
			h2{
				font-family: oswald;
				text-transform: uppercase;
			}
			.price-container{
				background: #F9F9F9;
				padding: 10px;
				margin: 20px 0 20px;
				.clearfix();
				#converted-price{
					float: left;
					font-size: 21px;
					padding: 5px 0 0 8px;
					margin: 0;
				}
				.price{
					font-family: oswald;
					font-size: 30px;
					margin-bottom: 0;
					float: left;
				}
				.shipping{
					margin: 0;
					float: right;
					text-align: right;
					span{
						font-style: italic;
						display: block;
						font-size: 85%;
					}
				}
			}
			#converter-container{
				.clearfix();
				#currency-select{
					display: none;
					font-size: 13px;
					height: 37px;
					-webkit-appearance: menulist-button;
					min-width: 100px;
				}
				#converter-trigger{
					background: none;
					border: 0;
					padding: 0;
					float: right;
					font-size: 12px;
					text-decoration: underline;
					color: #7B7B7B;
					padding-right: 13px;
				}
				&.open{
					#currency-select{display: block}
					#converter-trigger{
						display: none;
					}
				}
			}
			.materials{font-size: 11px;}
			.materials,.shipping{
				color: #7A7A7A;
			}
			form .control-label{
				text-align: left;
			}
			&.empty{
				width: 100%;
				max-width: 100%;
				text-align: center;
			}
			#return-policy{
				padding-bottom: 100px;
				color: #A2A2A2;
				font-size: 11px;
				float: right;
				text-decoration: underline;
			}
		}
	}
	#footer{
		.credit{
			margin: 13px 0 0;
			float: left;
			color: #858585;
			font-weight: 100;
			letter-spacing: 2px;
			font-size: 9px;
			text-transform: uppercase;
			a{
				font-family: "Oswald";
				text-transform: uppercase;
				text-decoration: none;
				display: block;
				color: #AEAEAE;
				letter-spacing: 1px;
				line-height: 13px;
				font-size: 120%;
			}
		}
		#social-buttons{
			text-align: center;
			margin-bottom: 10px;
			float: right;
			ul{
				margin: 0;
				padding: 0;
				li{
					display: inline-block;
					margin: 0 4px;
					a{
						text-decoration: none;
						padding: 10px;
						background: #CCC;
						border-radius: 30px;
						display: block;
						width: 50px;
						height: 50px;
						vertical-align: middle;
						font-size: 22px
					}
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		.profile-area{
			float: left;
			>li>a.profile-photo{
				font-size: 20px;
				img{
					max-height: 50px;
					margin-right: 10px;
				}
			}
		}
		.right-menu{
			>li{
				>a{
					margin: 21px 0 0 0;
				}
			}
		}
	}
	@media screen and (max-width: 480px) {
		#single-product-container{
			#image-container,#product-info{
				width: 100%;
				max-width: 100%;
			}
		}
		#footer{
			#social-buttons{
				ul{
				
					li{
		
						a{
							padding: 8px;
							width: 45px;
							height: 45px;
							font-size: 20px
						}
					}
				}
			}
		}
	}
}