#create-product .btn {
  position: relative;
}
#create-product .product-image {
  max-height: 40px;
  padding-right: 10px;
}
#create-product .comment {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 12px;
}
#create-product .color-list {
  padding: 0;
  display: none;
  max-width: 740px;
}
#create-product .color-list label {
  width: 30px;
  height: 30px;
  list-style: none;
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}
#create-product #sample-product {
  float: left;
  position: relative;
}
#create-product #sample-product img {
  max-height: 500px;
}
#create-product #sample-product #print-area {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 10%;
}
